<h1>Show all URLs</h1>

<% @urls.each do |url|%>

	<%= link_to url_path(url) do %>

		<p>Link: <%= url.link %> | <%= url.hash_code %></p>

	<% end %>

<% end %>

<%= link_to 'Generate another code.', new_url_path %>