<h2>Sweet!</h2>

<p>
	Your randomly generated code is: <%= @url.hash_code %>
</p>

<p>
	You can go to 
	<%= link_to @url.link do %> 
		localhost:3000/<%= @url.hash_code %>
	<% end %>
	<span>to visit your url.</span>
</p>

<p>
	<%= link_to 'Generate another code.', new_url_path %>
</p>